@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/style/style.css');
@import url('/style/acceuil.css');
@import url('/style/tarifs.css');


* {
  box-sizing: border-box;
  margin: 0;
padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
  scroll-behavior: smooth;
}

header nav,footer{
display: flex;
justify-content: space-between;
align-items: center;

}
a {
  color: #242424;
  text-decoration: none;
  font-family: 'Manrope';
}
header nav a{
  margin-left: 4.5rem;
}
footer .socials img{
  margin-left: 1.8em;
}