@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/style/style.css');
@import url('/style/acceuil.css');
@import url('/style/tarifs.css');
@import url('/style/portfolio.css');

* {
  box-sizing: border-box;
  margin: 0;
padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
  scroll-behavior: smooth;
  width: 100%;
}

header,
  footer {
    background-color: white;
    padding: 20px 50px;
  }
header nav,footer{
display: flex;
justify-content: space-between;
align-items: center;

}
a {
  color: #242424;
  text-decoration: none;
  font-family: 'Manrope';
}
header nav a{
  margin-left: 4.5rem;
}
header nav a:hover {
  color:rgb(136, 119, 119);
  text-decoration: underline #a5b4fc;
  text-underline-offset: 0.3em ;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}
footer .socials img{
  margin-left: 1.8em;
}